
<div 
	data-sly-use.eventAd="com.adobe.aem.guides.wknd.core.components.EventAdvertisement"
	data-sly-use.placeholderTemplate="core/wcm/components/commons/v1/templates.html"
	data-sly-test.hasContent="${!eventAd.isEmpty}"
	data-sly-test.firstLocation="${eventAd.firstLocation}"
	data-sly-test.startDate="${eventAd.startDate}" 
	>


	<div >
		<div data-sly-test.eventImage="${eventAd.eventImage}"
			style="min-height: 600px; background-image: url(${ eventImage @ context = 'uri'})">

		</div>

		<div>
			<h1 data-sly-test.eventTitle="${eventAd.eventTitle}">${eventTitle}</h1>
		</div>
		<br>

		<div>
			<h3 data-sly-test.displayDate="${eventAd.displayDate}">${displayDate}</h3>
		</div>
		<br>
		<div data-sly-test.shortDescription="${eventAd.shortDescription}">
			<p>${ shortDescription}</p>
		</div>

		<br>
	</div>
	<table>
		<tr>
			<td>Location:</td>
			<td data-sly-test.location="${eventAd.location}" id="locations">${ location}</td>
		</tr>

		<tr>
			<td>Category:</td>
			<td data-sly-test.category="${eventAd.category}">${ category}</td>
		</tr>

		<tr>
			<td>Fee Type:</td>
			<td data-sly-test.feeType="${eventAd.feeType}">${ feeType}</td>
		</tr>
		
	</table>


	
	
	
	
	<div class="event-data">
		<input type="hidden" id="event-city"  value="${firstLocation}">
		<input type="hidden" id="event-start-date" value="${startDate}">
		<div class="inner">
			<h2 id="weather-forecast-heading">Weather Forecast</h2>

		</div>
		<div>
			<h4 id="temperature">0 &#8451;</h4>
			<h4 id="temp_desc">Clear</h4>
		</div>

	</div>
	
</div>
<sly
	data-sly-call="${placeholderTemplate.placeholder @ isEmpty=eventAd.isEmpty}"></sly>



