.cmp-list {
     
    float:left;
    padding:0;
     
    .cmp-list__item {
        list-style: none;
        float:left;
        width:100%;
        margin-bottom:1em;
    }
     
    .cmp-list__item-link {
        font-weight: 600;
        float:left;
        width:100%;
        padding: 0.5rem 1rem;
         
        &:hover {
            background: @brand-secondary;
        }
    }
     
    .cmp-list__item-title {
        width:100%;
        float:left;
    }
     
    .cmp-list__item-date {
        width:100%;
        float:left;
        color: @gray-light;
        font-size: @font-size-small; 
    }
     
}